[submodule "external/kmsxx"]
	path = external/kmsxx
	url = https://github.com/tomba/kmsxx
[submodule "external/skia"]
	path = external/skia
	url = https://github.com/google/skia.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
